@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

@font-face {
    font-family: 'NettoOT';
    src: url('../font/NettoOT.eot') format('embedded-opentype');
    src: url('../font/NettoOT.eot?#iefix') format('embedded-opentype'),
        url('../font/NettoOT.woff') format('woff'),
        url('../font/NettoOT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NettoOT-Bold';
    src: url('../font/NettoOT-Bold.eot') format('embedded-opentype');
    src: url('../font/NettoOT-Bold.eot') format('embedded-opentype'),
        url('../font/NettoOT-Bold.woff') format('woff'),
        url('../font/NettoOT-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NettoOT-Light';
    src: url('../font/NettoOT-Light.eot') format('embedded-opentype');
    src: url('../font/NettoOT-Light.eot') format('embedded-opentype'),
        url('../font/NettoOT-Light.woff') format('woff'),
        url('../font/NettoOT-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: #f5f5f5;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}
.nopadding {
    padding-left: 0px;
    padding-right: 0px;
}
/*
    HEADER
*/
header {
    width: 100%;
    float: left;
    position: relative;
    background-color: #fff;
}
.header {
    width: 1300px;
    height: 176px;
    position: relative;
    top: 0;
    left: 33px;
    background-color: #fff;
    background: url(../img/top-header.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    z-index: 999;
}
header .container{
    padding-right: 0;
    padding-left: 0;
}
.header-top {
    width: 100%;
    float: left;
    position: relative;
}

.header-rrss i{
    color: #5a5a5a;
    font-size: 17pt;
    line-height: 45px;
    margin-right: 10px;
}
.header-login i{
    font-size: 17pt;
    color: #ea660e;
    line-height: 45px;
    float: left;
    position: relative;
    
}
.header-login a{
    color: #494949;
    line-height: 45px;
    font-family: 'Montserrat', sans-serif;
    font-size: 10pt;
    font-weight: bold;
    float: left;
    position: relative;
    margin-left: 10px;
}
.header-login a:hover,
.header-login a.active
{
    color: #ea660e;
    text-decoration: none;
}
.header-login .dropdown-menu {
    background-color: #989898;
}

.header-login .dropdown-menu li a{
    color: #fff;
    border-bottom: 1px solid #fff;
}
.header-login .dropdown-menu > li > a:hover, .header-login .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: #e9640d;
    text-decoration: none;
}
.header-login span{
    color: #494949;
    line-height: 45px;
    font-family: 'Montserrat', sans-serif;
    font-size: 10pt;
    font-weight: bold;
    float: left;
    position: relative;
    margin-left: 10px;
}
.header-leng i{
    font-size: 17pt;
    color: #494949;
    line-height: 45px;
    float: left;
    position: relative;
    
}
.header-leng a{
    color: #494949;
    line-height: 45px;
    font-family: 'Montserrat', sans-serif;
    font-size: 10pt;
    font-weight: bold;
    float: left;
    position: relative;
    margin-left: 10px;
}
.header-leng a.active,
.header-leng a:hover{
    color: #ea660e;
    text-decoration: none;
}
.header-leng span{
    color: #494949;
    line-height: 45px;
    font-family: 'Montserrat', sans-serif;
    font-size: 10pt;
    font-weight: bold;
    float: left;
    position: relative;
    margin-left: 10px;
}
#custom-search-input {
        margin:0;
        margin-top: 6px;
        padding: 0;
    }
#custom-search-input .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        background: #b2b2b2;
        color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 11pt;
    }

#custom-search-input input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
#custom-search-input input::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
#custom-search-input input:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
#custom-search-input input:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}
#custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color:#ffffff;
    }
.search-query:focus + button {
        z-index: 3;   
    }
.header-nav {
    width: 100%;
    float: left;
    position: relative;
}
.header-logo {
    float: left;
    position: relative;
}
nav,
.navbar-inverse{
    float: left;
    position: relative;
    background-color: transparent;
    border: 0px;
    width: 800px;
}
.navbar {
    min-height: 30px;
    margin-top: 20px;
}
.nav {
    width: 100%;
}
.nav li a {
    font-family: 'Montserrat', sans-serif;
    color: #494949;
    font-size: 11pt;
    text-transform: uppercase;
}
.navbar-inverse .navbar-nav > li > a {
    color: #494949;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
    color: #fff;
    background-color: #e9640d;
    border-radius: 5px;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #e9640d;
    border-radius: 5px;
}
nav .dropdown-menu {
    background-color: #989898;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #e9640d;
}
nav .dropdown-menu li a{
    color: #fff;
    border-bottom: 1px solid #fff;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: #e9640d;
    text-decoration: none;
}
.header-weather {
    float: right;
    position: relative;
    width: 200px;
    height: 100px;
    background-color: rgba(243,109,33,0.7);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: 5px;
}
.header-weather article {
    width: 90px;
    text-align: center;
    float: left;
    position: relative;
}
.header-weather img {
    width: 100px;
    height: 100px;
    float: right;
    position: relative;
    margin-right: 10px;
}
.header-weather span {
    font-family: 'NettoOT-Bold';
    font-size: 14pt;
    color: #fff;
    line-height: 32px;
}
.header-weather span.span-bold {
    font-size: 16pt;
}
.header-weather span.span-bold-2 {
    font-size: 24pt;
}
/*
    SLIDER
*/
.content-slider {
    width: 100%;
    float: left;
    position: relative;
    background: url(../img/slide-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 645px;
    z-index: 99;
    margin-top: -60px;
}
.bxslider {
    width: 100%;
    height: 100%;
}
.content-slider .bx-wrapper {
    width: 100%;
    height: 645px;
    box-sizing: border-box;
}
.content-slider .bx-wrapper .bx-viewport {
    width: 100%;
    height: 645px !important;
    border: 0px !important;
    background-color: transparent !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.content-slider .bx-wrapper img {
    max-width: 100%;
    display: block;
    right: 350px;
    position: absolute;
    top: 105px;
}
.content-slider .bx-wrapper .bx-caption {
    position: absolute;
    bottom: inherit;
    left: 250px;
    background: transparent;
    top: 140px;
    width: 460px;
}
.content-slider .bx-caption h2 {
    font-family: 'NettoOT-Bold';
    color: #f36d21;
    font-size: 42pt;
    padding: 0px 40px;
    margin-bottom: 40px;
}
.content-slider .bx-caption img {
    right: 0;
    top: 0;
    position: relative;
    left: 0;
    display: inline-block;
    width: 185px;
    float: left;
    margin-right: 45px;
}
.content-slider .bx-wrapper .bx-controls-direction a.disabled {
    display: block;
}
.bg-bottom-slider {
    width: 100%;
    height: 160px;
    background: url(../img/slider-margin.png);
    background-repeat: no-repeat;
    background-position: bottom;
    margin-top: -75px;
    background-size: cover;
    margin-bottom: 50px;
}
/*
    WELCOME
*/
.content-welcome {
    z-index: 999;
    float: left;
    position: relative;
    width: 100%;
}
.content-welcome > section {
    padding: 0px 0px 0px 60px;
    margin-top: 35px;
}
.content-welcome > section section:first-child {
    margin-top: 30px;
}
.content-welcome > section h3 {
    font-size: 20pt;
    color: #f36d21;
    text-transform: uppercase;
}
.content-welcome > section p {
    color: #494949;
    font-size: 10pt;
}
/*
    TOP RUTAS
*/
.content-top-route {
    width: 100%;
    float: left;
    position: relative;
    margin-top: 20px;
}
.content-top-route .title-top-route {
    width: 100%;
    float: left;
    position: relative;
    height: 90px;
    background-color: #f36d21;
}
.title-top-route > article {
    padding: 0px 70px;
}
.title-top-route > article h3{
    color: #ffffff;
    font-size: 24pt;
    font-family: 'NettoOT-Bold';
    line-height: 50px;
}
.title-top-route > article a {
    background-color: #f5f5f5;
    text-decoration: none;
    color: #f36d21;
    text-transform: uppercase;
    padding: 15px 40px;
    margin-top: 20px;
    position: relative;
    float: left;
    border-radius: 15px;
    box-shadow: 0px 0px 15px #999;
    -moz-box-shadow: 0px 0px 15px #999;
}
.content-tabs {
    width: 100%;
    float: left;
    position: relative;
}
.content-tabs-menu {
    width: 100%;
    height: 336px;
    float: left;
    position: relative;
    background: url(../img/imagen-fondos.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 26%;
}
.content-tabs-menu .nav-pills {
    margin-top: 60px;
}
.content-tabs-menu .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: transparent;
}
.content-tabs-menu .nav > li > a {
    padding: 10px 9px;
}
.content-tabs-menu .nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}
.content-tabs-menu .mask {
    width: 265px;
    height: 212px;
    background-color: transparent;
    position: absolute;
    top: 10px;
    left: 9px;
}
.content-tabs-menu .nav > li > a:hover .mask,
.content-tabs-menu .nav > li.active > a .mask{
    background-color: rgba(236,100,10,0.5);
    
}
.content-tabs-route-description {
    width: 100%;
    float: left;
    position: relative;
    background: url(../img/deslizable-rutas-arrow.png);
    background-repeat: no-repeat;
    background-position: top;
    margin-top: -35px;
    padding-bottom: 35px;
}
.tab-pane > section {
    margin-top: 80px;
}
.tab-pane > section article h4 {
    font-size: 30pt;
    color: #f36d21;
    font-family: 'NettoOT';
    margin-bottom: 15px;
}
.content-assess {
    width: 100%;
    height: 250px;
    float: left;
    position: relative;
    background: url(../img/info-ruta.png);
    background-repeat: no-repeat;
    margin-top: 50px;
}
article.assess-stars {
    position: absolute;
    top: 65px;
    left: 40px;
}
.assess-stars i {
    font-size: 28pt;
    margin-right: 10px;
    color: #ec6409;
}
article.content-difficulty {
    position: absolute;
    left: 60px;
    top: 230px;
}
.content-difficulty p {
    font-size: 18pt;
    color: #ec6409;
    font-family: 'NettoOT-Bold';
}
article.content-length {
    position: absolute;
    left: 305px;
    top: 255px;
}
.content-length p {
    font-size: 28pt;
    color: #ec6409;
    font-family: 'NettoOT-Bold';
}
article.content-time {
    position: absolute;
    left: 480px;
    top: 255px;
}
.content-time p {
    font-size: 28pt;
    color: #ec6409;
    font-family: 'NettoOT-Bold';
}
.btn-more {
    float: right;
    position: relative;
    border:1pt solid #ec6409;
    border-radius: 15px;
    color: #ec6409;
    text-decoration: none;
    font-family: 'NettoOT-Bold';
    padding: 2px 30px;
    font-size: 18pt;
    margin-top: 35px;
    margin-right: 37px;
}
.btn-more:hover {
    background-color: #ec6409;
    color: #fff;
    text-decoration: none;
}
/*
    NEWSLETTER
*/
.content-newsletter {
    width: 100%;
    float: left;
    position: relative;
    border-top: 2pt solid #cbcbcb;
}
.content-newsletter-2 {
    border-bottom: 2pt solid #cbcbcb;
    border-top: 0;
}
.content-newsletter-3 {
    border-bottom: 2pt solid #cbcbcb;
    border-top: 2pt solid #cbcbcb;
}
.content-newsletter section {
    padding: 30px 0;   
}
.content-newsletter h4 {
    font-family: 'NettoOT-Bold';
    font-size: 26pt;
    text-transform: uppercase;
    color: #f36d21;
}
.content-newsletter p {
    font-size: 10.5pt;
    color: #494949;
    margin-top: 10px;
}
.content-newsletter input[type="text"] {
    background-color: #dddddd;
    border: 1px solid #a3a3a3;
    padding: 5px;
    box-sizing: border-box;
    font-size: 10pt;
    color: #4d4d4d;
    width: 200px;
    height: 36px
}
.content-newsletter input[type="text"]:focus,
.content-newsletter input[type="text"]:placeholder {
    color: #4d4d4d;
}
.content-newsletter input.btn.btn-large {
    background-color: #f36d21;
    color: #fff;
    text-transform: uppercase;
    float: right;
    position: relative;
    font-size: 12pt;
}
.content-newsletter form {
    margin-top: 10px;
}
/*
    QUOTE
*/
.content-quote {
    width: 100%;
    height: 310px;
    float: left;
    position: relative;
    background: url(../img/bg-quote.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.content-quote article {
    padding: 80px 0;
}
.content-quote article h5 {
    width: 100%;
    float: right;
    position: relative;
    color: #ffffff;
    font-family: 'NettoOT';
    font-size: 35pt;
    font-style: italic;
}
.content-quote article h6 {
    width: 100%;
    float: right;
    position: relative;
    text-align: right;
    color: #f36d21;
    font-family: 'NettoOT';
    font-size: 30pt;
    font-style: italic;
}
/*
    ESTABLECIMIENTOS
*/
/*
    TOP RUTAS
*/
.content-establishment {
    width: 100%;
    float: left;
    position: relative;
    margin-top: 5px;
}
.content-establishment .title-establishment {
    width: 100%;
    float: left;
    position: relative;
    height: 90px;
    background-color: #f36d21;
}
.title-establishment > article {
    padding: 0px 70px;
}
.title-establishment > article h3{
    color: #ffffff;
    font-size: 24pt;
    font-family: 'NettoOT-Bold';
    line-height: 50px;
}
.title-establishment > article a {
    background-color: #f5f5f5;
    text-decoration: none;
    color: #f36d21;
    text-transform: uppercase;
    padding: 15px 40px;
    margin-top: 20px;
    position: relative;
    float: left;
    border-radius: 15px;
    box-shadow: 0px 0px 15px #999;
    -moz-box-shadow: 0px 0px 15px #999;
}
.content-tabs {
    width: 100%;
    float: left;
    position: relative;
}
.content-tabs-menu-establishment {
    width: 100%;
    height: 100px;
    background-color: #f36d21;
    float: left;
    position: relative;
    padding-bottom: 35px;
}
.content-tabs-establishment {
    width: 100%;
    height: 336px;
    float: left;
    position: relative;
    background: url(../img/imagen-fondos.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 26%;
}
.content-tabs-establishment figure  figcaption{
    width: 265px;
    height: 212px;
    background-color: transparent;
    position: absolute;
    top: 0px;
    left: 15px;
    display: table;
    text-align: center;
}
.content-tabs-establishment figure  figcaption a {
    width: 265px;
    height: 214px;
    display: inherit;
    text-decoration: none;
}
.content-tabs-establishment figure  figcaption a:hover {
    text-decoration: none;
}
.content-tabs-establishment figure  figcaption i {
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    font-size: 40pt;
    opacity: 0;
}
.content-tabs-establishment figure:hover  figcaption{
    background-color: rgba(236,100,10,0.5);
    
}
.content-tabs-establishment figure:hover  figcaption i{
    opacity: 1;
    
}
.content-tabs-menu-establishment .nav {
    width: 95%;
    float: left;
    position: relative;
    margin: 0px 2.5%;
}
.content-tabs-menu-establishment .nav li {
    width: 6.9%;
    float: left;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    border-left: 1px solid #b8b8b8;
    height: 100px;
    margin-left: 0px;
}
.content-tabs-menu-establishment .nav li:last-child {
    border-right: 1px solid #b8b8b8;
}
.content-tabs-menu-establishment .nav li a {
    padding: 0px 3px;
    width: 100%;
    height: 100%;
}
.content-tabs-menu-establishment .nav li img{
    width: 40px;
    height: 40px;
    margin-top: 7px;
    margin-bottom: 7px;
}
.content-tabs-menu-establishment .nav li p{
    font-family: 'NettoOT';
    color: #fff;
    font-size: 10pt;
    word-wrap: break-word;
    line-height: 12px;
}
.content-tabs-menu-establishment .nav-pills > li.active > a, .content-tabs-menu-establishment .nav-pills > li.active > a:hover, .content-tabs-menu-establishment .nav-pills > li.active > a:focus {
    background-color: #828282;
}
.content-tabs-menu-establishment .nav > li > a:hover, .content-tabs-menu-establishment .nav > li > a:focus {
    text-decoration: none;
    background-color: #828282;
}
/*
collaborators
*/
.content-collaborators {
    padding: 30px 0;
    width: 100%;
    float: left;
    position: relative;
}
.content-collaborators h3 {
    color: #f36d21;
    font-size: 32pt;
    text-align: center;
    font-family: 'NettoOT-Bold';
    text-transform: uppercase;
}
.content-collaborators .bx-wrapper {
    position: relative;
    float: left;
    margin: 0 auto 60px;
    padding: 0;
}
.content-collaborators .bx-wrapper .bx-viewport {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    left: -5px;
    background: transparent;
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
}
.content-collaborators .bx-wrapper .bx-prev {
    left: -15px;
    background: url(../img/Carrusel/prev.png) no-repeat 0 0;
}
.content-collaborators .bx-wrapper .bx-next {
    right: -15px;
    background: url(../img/Carrusel/next.png) no-repeat 0 0;
}
.content-collaborators .bx-wrapper .bx-next:hover {
    background-position: 0 0;
}
/*
    FOOTER
*/
footer {
    width: 100%;
    float: left;
    position: relative;
    background-color: #2f2f2f;
    padding-top: 30px;
}
footer h6 {
    font-size: 16pt;
    color: #f36d21;
    font-family: 'NettoOT-Bold';
    text-transform: uppercase;
}
footer img {
    margin-top: 10px;
}
footer ul {
    width: 100%;
    float: left;
    position: relative;
    padding-left: 0px;
}
footer ul li {
    width: 100%;
    float: left;
    position: relative;
    padding: 10px 0;
    border-bottom: 1px solid #989898;
}
footer ul li:last-child {
    border-bottom: 0;
}
footer ul li a{
    font-size: 13pt;
    color: #fff;
    font-family: 'NettoOT';
}
footer ul li a:hover{
    color: #fff;
    text-decoration: none;
}
.footer-copy {
    width: 90%;
    float: left;
    position: relative;
    margin: 25px 5% 0 5%;
    border-top: 3pt solid #484848;
    padding-top: 10px;
}
.footer-copy a i {
    color: #fff;
    font-size: 14pt;
    margin-right: 8px;
}
.footer-copy p {
    color: #fff;
    font-size: 10pt;
    font-weight: lighter;
    display: inline-block;
    margin-left: 10px;
}
/*
    POP UP
*/
.overlay {
    background: rgba(0,0,0,0.8);
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 99999;
}
.box{
    position:fixed;
    top:-200px;
    left:25%;
    right:25%;
    background: url(../img/seleccionar-localidad-box.png);
    color:#7F7F7F;
    padding:20px;
    z-index:999999;
    width: 650px;
    height: 228px;
}
.box h1 {
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-family: 'NettoOT-Bold';
    font-size: 24pt;
    margin-bottom: 35px;
}
.box p {
    text-align: center;
    color: #565656;
    font-size: 12pt;
}
.box select {
    margin: 20px 200px;
    width: 200px;
    height: 35px;
    background-color: #b2b2b2;
    color: #fff;
}
a.boxclose{
    float:right;
    width:26px;
    height:26px;
    background:url(../img/) repeat top left;
    margin-top:-30px;
    margin-right:-30px;
    cursor:pointer;
}
/*
LOG IN
*/
.content-log-in {
    width: 100%;
    float: left;
    position: relative;
    margin-top: -60px;
    background-color: #f5f5f5;
    padding-top: 60px;
}
.content-log-in h2 {
    font-family: 'NettoOT-Bold';
    text-transform: uppercase;
    text-align: center;
    color: #f36d21;
    font-size: 36pt;
}
.box-log-in {
    width: 100%;
    float: left;
    position: relative;
    margin-top: 30px;
    border-top: 2px solid #d3d3d3;
}
.form-log-in {
    width: 40%;
    float: left;
    position: relative;
    margin: 0px 30% 50px;
}
.form-log-in a.btn-facebook {
    width: 100%;
    background-color: #43589b;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 15px;
    padding: 6px 0;
    font-size: 13pt;
    float: left;
    position: relative;
    text-align: center;
    margin: 30px 0px;
}
.form-log-in img {
    margin-left: -10px;
}
.form-log-in input[type=text],
.form-log-in input[type=password],
.form-log-in input[type=email],
.form-log-in select{
    width: 100%;
    float: left;
    position: relative;
    margin: 7px 0px;
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
    background-color: transparent;
    border: 1pt solid #cfd3d9;
    color: #cfd3d9;
}
.form-log-in input[type=text]:placeholder,
.form-log-in input[type=password]:placeholder {
    
    color: #cfd3d9;
}
.form-log-in p {
    color: #6d6d6d;
    font-size: 11pt;
    float: left;
    position: relative;
    margin-top: 30px;
}
.form-log-in p i {
    font-size: 12pt;
    color: #e9640d;
}
.form-log-in input[type=submit] {
    width: 50%;
    height: 40px;
    float: right;
    position: relative;
    background: #e9640d;
    color: #fff;
    text-transform: uppercase;
    border: none;
    margin-top: 25px;
}
.form-log-in a.text-forget {
    color: #e9640d;
    font-size: 11pt;
    float: left;
    position: relative;
    margin-top: 30px;
}
.not-login {
    width: 100%;
    float: left;
    position: relative;
    text-align: center;
    margin-top: 15px;
}
.not-login p {
    color: #6d6d6d;
    font-size: 11pt;
    margin-top: 0;
    float: none;
    display: inline-block;
}
.not-login a {
    color: #e9640d;
    font-size: 11pt;
    display: inline-block;
    margin-left: 15px;
}
/*
LOG IN
*/
.content-establishment-inter {
    width: 100%;
    float: left;
    position: relative;
    margin-top: -60px;
    background-color: #f5f5f5;
    padding-top: 60px;
}
.content-establishment-inter h2 {
    font-family: 'NettoOT-Bold';
    text-transform: uppercase;
    color: #f36d21;
    font-size: 36pt;
    display: inline-block;
    width: 100%;
    margin-bottom: 0px;
}
.content-establishment-inter h3 {
    font-family: 'NettoOT-Bold';
    text-transform: uppercase;
    color: #ffffff;
    font-size: 36pt;
    background-color: #f36d21;
    display: inline-block;
    margin-top: 0px;
    padding: 0px 5px;
        line-height: 51px;
}
.content-tabs-inter .content-tabs-menu-establishment{
    background-color: #838383;
    border-top: 2px solid #bfbfbf;
    border-bottom: 2px solid #bfbfbf;
    margin-bottom: 10px;
}
.content-tabs-inter .content-tabs-menu-establishment .nav{
    width: 50%;
    margin: 0px 25%;
}
.content-tabs-inter .content-tabs-menu-establishment .nav li {
    border: 0px;
    margin-top: -2px;
    width: 16%;
}
.content-tabs-inter .content-tabs-menu-establishment .nav li:last-child {
    border:0px;
}
.content-tabs-inter .content-tabs-menu-establishment .nav-pills > li.active > a, .content-tabs-inter .content-tabs-menu-establishment .nav-pills > li.active > a:hover, .content-tabs-inter .content-tabs-menu-establishment .nav-pills > li.active > a:focus {
    background-color: #f36d21;
}
.content-tabs-inter .content-tabs-menu-establishment .nav > li > a:hover, .content-tabs-inter .content-tabs-menu-establishment .nav > li > a:focus {
    text-decoration: none;
    background-color: #f36d21;
}
.content-tabs-inter .content-tabs-establishment {
    height: 1024px;
}
.filter-tabs {
    width: 100%;
    float: left;
    position: relative;
    border-bottom: 2px solid #fff;
    padding-bottom: 15px;
    margin-bottom: 35px;
}
.filter-tabs h4 {
    font-family: 'NettoOT-Bold';
    font-size: 23pt;
    color: #606060;
    text-transform: uppercase;
    margin-left: 60px;
}
.filter-tabs article {
    padding: 0;
    text-align: center;
}
.filter-tabs select {
    margin: 10px 60px;
    width: 200px;
    height: 35px;
    background-color: #b2b2b2;
    color: #fff;
    border-radius: 6px;
}
.filter-tabs a {
    background: #fff;
    border: 2px solid #f36d21;
    padding: 4px 20px;
    color: #f36d21;
    font-weight: bold;
    font-size: 11pt;
    line-height: 50px;
}
.content-tabs-inter .tab-pane article {
    margin-bottom: 35px;
}
.content-pager {
    width: 100%;
    float: left;
    position: relative;
    text-align: center;
}
.content-pager .pagination li:first-child a,
.content-pager .pagination li:last-child a{
    border: 1px solid #f36d21;
    border-radius: 15px;
    background: #fff;
    padding: 6px 15px;
    color: #727272;
}
.content-pager .pagination li:first-child a::before {
    content:"<";
    color: #727272;
    font-size: 9pt;
    margin-right: 10px;
}
.content-pager .pagination li:last-child a::after {
    content:">";
    color: #727272;
    font-size: 9pt;
    margin-left: 10px;
}
.content-pager .pagination li a {
    background: transparent;
    border: 0;
    color: #fff;
    margin: 0px 5px;
}
.content-pager .pagination li.active a {
    color: #f36d21;
}
.content-pager .pagination li a:hover {
    color: #f36d21;
}
.content-pager .pagination > .active > a, 
.content-pager .pagination > .active > span, 
.content-pager .pagination > .active > a:hover, .content-pager .pagination > .active > span:hover, 
.content-pager .pagination > .active > a:focus, .content-pager .pagination > .active > span:focus {
    color: #f36d21;
    cursor: default;
    background-color:transparent;
    border-color: 0;
}
/*
    REGISTRO
*/
.register {
    text-align: center;
}
.register p.text-register {
    float: none;
    text-align: center;
}
.register article.input-1,
.register article.input-3{
    padding-left: 0;
}
.register article.input-2,
.register article.input-4{
    padding-right: 0;
}
.txt-terminos {
    font-size: 10pt !important;
    text-align: left;
}
.txt-terminos a {
    color: #f36d21;
}
.register input[type=submit] {
    float: none;
}

/*
    PERFIL
*/
/*
LOG IN
*/
.content-profile {
    width: 100%;
    float: left;
    position: relative;
    margin-top: -60px;
    background-color: #f5f5f5;
    padding-top: 60px;
}
.content-profile h2 {
    font-family: 'NettoOT-Bold';
    text-transform: uppercase;
    color: #f36d21;
    font-size: 36pt;
    display: inline-block;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0px;
}
.content-profile h3 {
    font-family: 'NettoOT-Bold';
    text-transform: uppercase;
    color: #ffffff;
    font-size: 36pt;
    background-color: #f36d21;
    display: inline-block;
    margin-top: 0px;
    padding: 0px 5px;
    line-height: 51px;
}
.content-profile .log-out {
    width: 100%;
    float: left;
    position: relative;
    margin-top: 25px;
}
.content-profile .log-out p {
    color: #f36d21;
    font-family: 'NettoOT-Bold';
    font-size: 8pt;
    float: left;
    position: relative;
    text-transform: uppercase;
}
.content-profile .log-out a,
.content-profile .log-out span{
    color: #494949;
    font-size: 8pt;
    text-transform: uppercase;
    float: left;
    position: relative; 
    margin-left: 5px;
    text-decoration: none;
}
.content-profile a.link-edit i{
    color: #8a8a8a;
    font-size: 22pt;
    margin-left: 15px;
}
.content-data {
    margin-top: 15px;
    margin-bottom: 15px;
    float: left;
    position: relative;
    width: 100%;
}
.content-data p {
    float: left;
    position: relative;
    color: #494949;
    font-size: 12pt;
}
.content-data span {
    float: left;
    position: relative;
    color: #494949;
    font-size: 14pt;
    margin: 0px 50px;
}
.contet-profile-description {
    width: 100%;
    float: left;
    position: relative;
    height: 185px;
}
.bg-profile {
    width: 60%;
    height: 100%;
    float: left;
    position: relative;
    background: url(../img/imagen-fondos.png);
    background-repeat: no-repeat;
    background-position: 0% 40%;
    background-size: cover;
}
.bg-profile > section {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,0.3);
    top: 0;
}
.bg-profile-description {
    width: 40%;
    height: 100%;
    float: left;
    position: relative;
    border-top: 2px solid #e3e3e3;
    border-bottom: 2px solid #e3e3e3;
}
.data-profile {
    position: absolute;
    width: 595px;
    top: 10px;
    text-align: center;
}
.data-profile article:first-child {
    width: 27%;
}
.data-profile article:nth-child(2) {
    width: 39%;
}
.data-profile article:last-child {
    width: 33%;
}
.data-profile article {
    float: left;
    position: relative;
}
.data-profile img {
    width: 133px;
    margin: 0 13px 10px 13px;
}
.data-profile i {
    color: #fff;
    display: inline-block;
    font-size: 13pt;
    margin-right: 5px;
}
.data-profile h3 {
    font-size: 80pt;
    color: #f36d21;
    font-family: 'NettoOT-Bold';
    margin-top: 25px;
    float: left;
    position: relative;
    width: 100px;
}
.data-profile p {
        color: #fff;
    font-size: 30pt;
    font-family: 'NettoOT-Bold';
    width: 125px;
    float: left;
    position: relative;
    text-align: left;
    line-height: 40px;
    margin-top: 40px;
}
.data-profile .selector-perfil img {
    width: auto;
    float: left;
    position: relative;
    margin-top: 42px;
}
.selector-perfil .nav {
    border: none;
    float: left;
    position: relative;
    width: 80%;
    margin-top: 30px;
}
.selector-perfil .nav li {
    width: 100%;
    height: 30px;
    margin-top: 4px;
    margin-bottom: 6px;
}
.selector-perfil .nav li a{
   padding: 0px;
    border: 0px !important;
    background-color: transparent !important;
    line-height: 27px;
    font-family: 'NettoOT-Bold';
    color: #ec6409;
}
.selector-perfil .nav li.active{
    background-color: #ec6409;
}
.selector-perfil .nav li.active a{
    color: #fff;
}
.selector-perfil .nav li.active.arrow-div:after {
    border-right-color:#ec6409;
}
.arrow-div {
	position: relative;
	background: #fff;
	border: 2px solid #ec6409;
    border-radius: 6px;
}
.arrow-div:after, .arrow-div:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow-div:after {
	border-color: rgba(255, 255, 255, 0);
    border-right-color: #fff;
    border-width: 8px;
    margin-top: -8px;
    margin-right: 0px;
}
.arrow-div:before {
	border-color: rgba(236, 100, 9, 0);
    border-right-color: #ec6409;
    border-width: 10px;
    margin-top: -10px;
    margin-right: 1px;
}
.data-profile-descr{
    position: absolute;
    width: 410px;
    top: 0px;
    left: 820px;
}
.data-profile-descr h3 {
    background: #ec6409;
    color: #FFF;
    padding: 3px 5px;
    font-family: 'NettoOT-Bold';
    margin-top: 0px;
    display: inline-block;
    font-size: 16pt;
}
.data-profile-descr p {
    font-weight: normal;
    color: #494949;
    font-size: 10pt;
    margin-bottom: 5px;
}
.data-profile-descr a {
    display: inline-block;
    font-weight: normal;
    color: #494949;
    font-size: 10pt;
    margin-bottom: 5px;
    margin-top: 5px;
}
.data-profile-descr a i{
    margin-right: 5px;
    color: #494949;
    font-size: 12pt;
    margin-bottom: 10px;
}
/*
ULTIMAS RUTAS
*/
.box-last-route {
    border: 2px solid #f36d21;
    border-radius: 5px;
    background: #fff;
    box-sizing: border-box;
    margin-top: 35px;
    float: left;
    position: relative;
}
.box-last-route h4 {
    font-family: 'NettoOT-Bold';
    color: #f36d21;
    font-size: 20pt;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
}
.box-last-route > article {
    border-top: 1px solid #e1e7f0;
    padding: 10px 20px;
}
.box-last-route > article article {
    padding: 0;
    margin-bottom: 5px;
    text-align: center;
}
.box-last-route > article article img{
    max-width: 100%;
}
.box-last-route > article article .btn-more {
    float: none;
    position: relative;
    border: 1pt solid #ec6409;
    border-radius: 15px;
    color: #fff;
    text-decoration: none;
    font-family: 'NettoOT-Bold';
    padding: 2px 15px;
    font-size: 16pt;
    margin-top: 35px;
    margin-right: 0;
    background-color: #ec6409;
    display: inline-block;
}
.box-favorite {
    border: 2px solid #f36d21;
    border-radius: 5px;
    background: #fff;
    box-sizing: border-box;
    margin-top: 35px;
    float: left;
    position: relative;
    width: 100%;
}
.box-favorite h4 {
    font-family: 'NettoOT-Bold';
    color: #f36d21;
    font-size: 20pt;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
}
.box-favorite > article {
    border-top: 1px solid #e1e7f0;
    padding: 12px 20px;
    width: 100%;
    float: left;
}
.box-favorite > article article {
    padding: 0;
}
.box-favorite > article article img{
    max-width: 100px;
    float: left;
    position: relative;
    margin-right: 20px;
}
.box-favorite > article article .btn-more {
        float: right;
    position: relative;
    border: 1pt solid #ec6409;
    border-radius: 15px;
    color: #fff;
    text-decoration: none;
    font-family: 'NettoOT-Bold';
    padding: 2px 15px;
    font-size: 16pt;
    margin-top: -30px;
    margin-right: 0;
    background-color: #ec6409;
    display: inline-block;
}
.box-favorite h5 {
    color: #000000;
    font-size: 16pt;
    font-weight: lighter;
    text-align: left;
}
.box-favorite > article article.favorite-stars{
    text-align: left;
    margin-top: 20px;
}
.box-favorite {
    width: 100%;
    float: left;
    position: relative;
    text-align: left;
}
.box-favorite i{
    font-size: 16pt;
    margin-right: 10px;
    color: #ec6409;
}
.box-favorite h6 {
    margin: 0;
    font-size: 14pt;
    color: #f36d21;
    font-family: 'NettoOT-Bold';
}
.box-favorite .text-difficult {
    color: #a5a6bb;
    font-size: 10pt;
    margin-bottom: 0;
    font-weight: lighter;
}
.box-favorite .text-km {
    color: #a5a6bb;
    font-size: 10pt;
    margin-bottom: 0;
    font-weight: lighter;
    float: left;
    position: relative;
}

/*
    COMMENTS
*/
.box-comments {
    border: 2px solid #f36d21;
    border-radius: 5px;
    background: #fff;
    box-sizing: border-box;
    margin-top: 35px;
    float: left;
    position: relative;
    width: 100%;
}
.box-comments h4 {
    font-family: 'NettoOT-Bold';
    color: #f36d21;
    font-size: 20pt;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
}
.box-comments > article {
    border-top: 1px solid #e1e7f0;
    padding: 12px 20px;
    width: 100%;
    float: left;
}
.box-comments > article article {
    padding: 0;
}
.box-comments h5 {
    color: #545353;
    font-size: 16pt;
    font-family: 'NettoOT-Bold';
    float: left;
    position: relative;
    margin-right: 15px;
    margin-top: 0;
}
.box-comments span {
    color: #848484;
    font-size: 12pt;
    font-family: 'NettoOT-Bold';
    float: left;
    position: relative;
    margin-right: 15px;
    line-height: 25px;
}
.btn-edit {
    float: left;
    position: relative;
    border: 1pt solid #ec6409;
    border-radius: 15px;
    color: #fff;
    text-decoration: none;
    font-family: 'NettoOT-Bold';
    padding: 2px 15px;
    font-size: 11pt;
    margin-right: 0;
    background-color: #ec6409;
    display: inline-block;
}
.box-comments p {
    color: #848484;
    font-size: 10pt;
    float: left;
    position: relative;
    margin-right: 15px;
    line-height: 25px;
}

.box-valoration {
    border: 2px solid #f36d21;
    border-radius: 5px;
    background: #fff;
    box-sizing: border-box;
    margin-top: 35px;
    float: left;
    position: relative;
    width: 100%;
}
.box-valoration h4 {
    font-family: 'NettoOT-Bold';
    color: #f36d21;
    font-size: 20pt;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
}
.box-valoration > article {
    border-top: 1px solid #e1e7f0;
    padding: 18px 20px;
    width: 100%;
    float: left;
}
.box-valoration > article article {
    padding: 0;
}
.box-valoration > article article img{
    max-width: 100px;
    float: left;
    position: relative;
    margin-right: 20px;
}
.box-valoration > article article .btn-more {
        float: right;
    position: relative;
    border: 1pt solid #ec6409;
    border-radius: 15px;
    color: #fff;
    text-decoration: none;
    font-family: 'NettoOT-Bold';
    padding: 2px 15px;
    font-size: 16pt;
    margin-top: -30px;
    margin-right: 0;
    background-color: #ec6409;
    display: inline-block;
}
.box-valoration h5 {
    color: #000000;
    font-size: 16pt;
    font-weight: lighter;
    text-align: left;
}
.box-valoration > article article.favorite-stars{
    text-align: left;
    margin-top: 20px;
}
.box-valoration {
    width: 100%;
    float: left;
    position: relative;
    text-align: left;
}
.box-valoration i{
    font-size: 16pt;
    margin-right: 10px;
    color: #ec6409;
}
.box-valoration h6 {
    margin: 0 0 30px 0;
    font-size: 16pt;
    color: #f36d21;
    font-family: 'NettoOT-Bold';
}
.box-valoration .text-difficult {
    color: #a5a6bb;
    font-size: 10pt;
    margin-bottom: 0;
    font-weight: lighter;
}
.box-valoration .text-km {
    color: #a5a6bb;
    font-size: 10pt;
    margin-bottom: 0;
    font-weight: lighter;
    float: left;
    position: relative;
}
/*
    ESTABLECIMIENTOS FAVORITOS
*/
.box-esta-favorite {
    border: 2px solid #f36d21;
    border-radius: 5px;
    background: #fff;
    box-sizing: border-box;
    margin-top: 35px;
    float: left;
    position: relative;
    width: 100%;
    margin-bottom: 35px;
}
.box-esta-favorite h4 {
    font-family: 'NettoOT-Bold';
    color: #f36d21;
    font-size: 20pt;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
}
.box-esta-favorite > article {
    border-top: 1px solid #e1e7f0;
    padding: 10px 20px;
}
.box-esta-favorite > article article {
    padding: 0;
    margin-bottom: 5px;
    text-align: center;
}
.box-esta-favorite > article article img{
    max-width: 100%;
}
.box-esta-favorite > article article .btn-more {
    float: none;
    position: relative;
    border: 1pt solid #ec6409;
    border-radius: 15px;
    color: #fff;
    text-decoration: none;
    font-family: 'NettoOT-Bold';
    padding: 2px 15px;
    font-size: 16pt;
    margin-top: 35px;
    margin-right: 0;
    background-color: #ec6409;
    display: inline-block;
}

/*
    ESTADISTICAS
*/
.box-statistics {
    border: 2px solid #f36d21;
    border-radius: 5px;
    background: #fff;
    box-sizing: border-box;
    margin-top: 35px;
    float: left;
    position: relative;
    width: 100%;
    margin-bottom: 35px;
}
.box-statistics h4 {
    font-family: 'NettoOT-Bold';
    color: #f36d21;
    font-size: 20pt;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
}
.box-statistics > article {
    border-top: 1px solid #e1e7f0;
    padding: 10px 20px;
    float: left;
    position: relative;
    width: 100%;
}
.box-statistics > article article {
    padding: 0;
    margin-bottom: 5px;
    text-align: center;
}
.box-statistics > article article img{
    max-width: 100%;
}
.box-statistics .btn-km {
    float: left;
    position: relative;
    border: 2pt solid #ec6409;
    border-radius: 15px;
    color: #727272;
    text-decoration: none;
    font-family: 'NettoOT-Bold';
    padding: 2px 15px;
    font-size: 10pt;
    margin-right: 0;
    background-color: #fff;
    display: inline-block;
}
.box-statistics select {
    float: left;
    position: relative;
    border: 2pt solid #ec6409;
    border-radius: 15px;
    color: #727272;
    text-decoration: none;
    font-family: 'NettoOT-Bold';
    padding: 3px 3px;
    font-size: 10pt;
    margin-right: 15px;
    background-color: #fff;
    display: inline-block;
    width: 60px;
}
.box-statistics > article.chart {
    padding: 10px 0;
}
.box-statistics > article.chart img {
    width: 100%;
}

/*
    CONTACTO
*/
.content-contacto {
    width: 100%;
    float: left;
    position: relative;
    margin-top: -60px;
    background-color: #f5f5f5;
    padding-top: 60px;
}
.content-contacto h2 {
    font-family: 'NettoOT-Bold';
    text-transform: uppercase;
    color: #f36d21;
    font-size: 36pt;
    display: inline-block;
    width: 100%;
    margin-top: 0;
    margin-bottom: 5px;
}
.content-contacto h3 {
    font-family: 'NettoOT-Bold';
    text-transform: uppercase;
    color: #ffffff;
    font-size: 36pt;
    background-color: #f36d21;
    display: inline-block;
    margin-top: 0px;
    padding: 0px 5px;
    line-height: 51px;
}
.contact-img,
.contact-form{
    margin-top: 30px;
    margin-bottom: 30px;
}
.contact-img figure .btnDow {
    position: absolute;
    bottom: 70px;
}
.contact-img figure a.btnGoogle {
    left: 65px;
}
.contact-img figure a.btnitunes {
    left: 250px;
}
.contact-form p {
    color: #999999;
    font-size: 12pt;
    line-height: 20px;
    margin-bottom: 40px;
}
.contact-form article {
    margin-bottom: 15px;
}
.contact-form article input[type=text]{
    width: 100%;
    border: 1pt solid #cfd3d9;
    background-color: transparent;
    color: #cfd3d9;
    height: 40px;
    padding: 0px 15px;
    box-sizing: border-box;
}
.contact-form article textarea{
    width: 100%;
    border: 1pt solid #cfd3d9;
    background-color: transparent;
    color: #cfd3d9;
    height: 180px;
    padding: 0px 15px;
    box-sizing: border-box;
    resize: none;
}
.contact-form article input[type=text]:placeholder{
    color: #cfd3d9;
}
.nopadding-left {
    padding-left: 0px;
}
.textCenter {
    text-align: center;
}
.nopadding-right {
    padding-right: 0px;
}
.contact-form article p i {
    font-size: 12pt;
    color: #e9640d;
}
.contact-form article p a {
    color: #e9640d;
}
.contact-form article input[type=submit] {
    color: #fff;
    background-color: #e9640d;
    padding: 12px 60px;
    text-transform: uppercase;
    border: none;
}
.contact-form .textCenter p {
    margin-bottom: 20px;
}
/*
    RUTAS
*/
.content-rutas {
    width: 100%;
    float: left;
    position: relative;
    margin-top: -60px;
    background-color: #f5f5f5;
    padding-top: 60px;
}
.content-rutas h2 {
    font-family: 'NettoOT-Bold';
    text-transform: uppercase;
    color: #f36d21;
    font-size: 36pt;
    display: inline-block;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0px;
}
.content-rutas h3 {
    font-family: 'NettoOT-Bold';
    text-transform: uppercase;
    color: #ffffff;
    font-size: 36pt;
    background-color: #f36d21;
    display: inline-block;
    margin-top: 0px;
    padding: 0px 5px;
    line-height: 50px;
}
.bread {
    width: 100%;
    float: left;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}
.bread p,
.bread a{
    font-size: 8pt;
    color: #828281;
    text-transform: uppercase;
}
.content-rutas hr {
    width: 100%;
    float: left;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #d3d3d3;
    height: 1pt;
}
.rutas-img figure {
    width: 100%;
    float: left;
    position: relative;
    height: 295px;
    margin-bottom: 60px;
}
.rutas-img .bx-wrapper .bx-viewport {
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0px;
    left: 0px;
    background: transparent;
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
}
.rutas-img .bxslider {
    padding-left: 0;
}
.rutas-img .bx-wrapper .bx-pager, .rutas-img .bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: 20px;
    width: 419px;
}
.rutas-img .bx-wrapper .bx-pager.bx-default-pager a:hover, .rutas-img .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #fff;
}
.rutas-img .bx-wrapper .bx-pager.bx-default-pager a {
    background: rgba(255,255,255,0.6);
}
.rutas-description {
    background: url(../img/rutas/tags-titularescon-letra.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 611px;
}
.rutas-dificulty {
    width: 200px;
    position: absolute;
    top: 50px;
    left: 50px;
}
.rutas-dificulty p {
    color: #ec6409;
    font-size: 11pt;
}
.rutas-long {
    width: 120px;
    position: absolute;
    top: 72px;
    left: 300px;
}
.rutas-long p {
    color: #ec6409;
    font-size: 16pt;
}
.rutas-time {
    width: 85px;
    position: absolute;
    top: 72px;
    right: 0;
}
.rutas-time p {
    color: #ec6409;
    font-size: 16pt;
}
.rutas-desc {
    width: 500px;
    position: absolute;
    top: 230px;
    left: 50px;
}
.rutas-desc p {
    color: #999999;
    font-size: 11pt;
}
.rutas-zone {
    width: 500px;
    position: absolute;
    top: 435px;
    left: 50px;
}
.rutas-zone p {
    color: #999999;
    font-size: 11pt;
}
.rutas-stars {
    width: 500px;
    position: absolute;
    top: 630px;
    left: 50px;
}
.rutas-stars i {
    font-size: 28pt;
    margin-right: 10px;
    color: #ec6409;
}
.content-rutas-comments {
    width: 100%;
    float: left;
    position: relative;
    background-color: #e8e5e5;
}
.rutas-comments-title {
    width: 100%;
    height: 50px;
    float: left;
    position: relative;
    border-top:1pt solid #f36d21;
    border-bottom:1pt solid #f36d21;
}
.rutas-comments-title h3 {
    font-family: 'NettoOT-Bold';
    font-size: 18pt;
    color: #f36d21;
    line-height: 50px;
    background-color: transparent;
}
.rutas-comments-descr {
    width: 100%;
    float: left;
    position: relative;
    border-bottom:1pt solid #fff;
}
.rutas-comments-descr h4 {
    font-family: 'NettoOT-Bold';
    font-size: 15pt;
    color: #545353;
    background-color: transparent;
    float: left;
    position: relative;
    margin-right: 10px;
}
.rutas-comments-descr span {
    font-family: 'NettoOT-Bold';
    font-size: 10pt;
    color: #848484;
    float: left;
    position: relative;
    margin-right: 10px;
    margin-top: 13px;
}
.rutas-comments-descr p {
    font-family: 'NettoOT-Bold';
    font-size:  12pt;
    color: #848484;
    width: 100%;
    float: left;
    position: relative;
}
.content-rutas-comments .content-pager {
    background-color: #f5f5f5;
}
.content-rutas-comments .content-pager .pagination li a {
    color: #919190;
}
.content-rutas-form {
    margin-top: 90px;
}
.content-rutas-form h3 {
    font-family: 'NettoOT-Bold';
    font-size: 20pt;
    color: #f36d21;
    line-height: 50px;
    background-color: transparent;
}
.content-rutas-form input[type=text]{
    width: 100%;
    border: 1pt solid #cfd3d9;
    background-color: transparent;
    color: #cfd3d9;
    height: 40px;
    padding: 0px 15px;
    box-sizing: border-box;
    margin-bottom: 30px;
}
.content-rutas-form article textarea{
    width: 100%;
    border: 1pt solid #cfd3d9;
    background-color: transparent;
    color: #cfd3d9;
    height: 180px;
    padding: 0px 15px;
    box-sizing: border-box;
    resize: none;
}
.content-rutas-form article input[type=text]:placeholder{
    color: #cfd3d9;
}
.content-rutas-form .comments-login p {
    color: #6d6d6d;
    font-size: 11pt;
    margin-top: 0;
    float: none;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    line-height: 38px;
}
.content-rutas-form .comments-login a {
    color: #f36d21;
    font-size: 11pt;
    margin-top: 0;
    float: none;
    display: inline-block;
    margin-right: 2px;
    line-height: 38px;
}
.content-rutas-form .comments-term p {
    color: #6d6d6d;
    font-size: 11pt;
    margin-top: 0;
    float: none;
    display: inline-block;
    line-height: 38px;
}
.content-rutas-form .comments-term a {
    color: #f36d21;
    font-size: 11pt;
    margin-top: 0;
    float: none;
}
.content-rutas-form input[type=submit] {
    color: #fff;
    background-color: #e9640d;
    padding: 12px 33px;
    text-transform: uppercase;
    border: none;
}
.content-bottom {
    margin-bottom: 60px;
}
/*
    ESTABLECIMIENTO
*/
.address-establishment {
    float: left;
    position: relative;
    width: 100%;
}
.address-establishment article {
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 3px;
}
.address-establishment article i {
    float: left;
    position: relative;
    font-size: 18pt;
    color: #ec6b15;
    line-height: 34px;
}
.address-establishment article p {
    float: left;
    position: relative;
    font-size: 18pt;
    color: #999999;
    font-family: 'NettoOT-Bold';
    margin-bottom: 0px;
    margin-left: 10px;
}
.description-establishment {
    float: left;
    position: relative;
    margin-top: 20px;
    width: 100%;
    height: 230px;
    background: url(../img/establecimientos/info-tags.png);
    background-repeat: no-repeat;
}
.description-establishment p {
    float: left;
    position: relative;
    font-size: 13pt;
    color: #999999;
    font-family: 'NettoOT-Bold';
    margin-bottom: 0px;
    margin-left: 23px;
    margin-top: 40px;
}
.establishment-stars {
    float: left;
    position: relative;
    margin-top: 75px;
    margin-left: 30px;
    margin-bottom: 30px;
}
.establishment-stars i {
    font-size: 28pt;
    margin-right: 10px;
    color: #ec6409;
}
.map-establishment {
    margin-top: 30px;
    margin-bottom: 30px;
}
.map-establishment iframe{
    width: 100%;
    height: 300px;
}
/*
    RUTAS
*/
.content-tabs-route {
    width: 100%;
    height: 1024px;
    float: left;
    position: relative;
    background: url(../img/imagen-fondos.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 26%;
    padding-top: 40px;
}

.content-tabs-route figure  figcaption{
    width: 265px;
    height: 212px;
    background-color: transparent;
    position: absolute;
    top: 0px;
    left: 15px;
    display: table;
    text-align: center;
}
.content-tabs-route figure  figcaption a {
    width: 265px;
    height: 214px;
    display: inherit;
    text-decoration: none;
}
.content-tabs-route figure  figcaption a:hover {
    text-decoration: none;
}
.content-tabs-route figure  figcaption i {
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    font-size: 40pt;
    opacity: 0;
}
.content-tabs-route figure:hover  figcaption{
    background-color: rgba(236,100,10,0.5);
    
}
.content-tabs-route figure:hover  figcaption i{
    opacity: 1;
    
}
.filter-tabs .filter-select select {
    margin: 10px auto;
    width: 150px;
    height: 35px;
    background-color: #FFF;
    color: #f36d21;
    border-radius: 6px;
}
/*
    SOBRE MALLORCA
*/
.bg-mallorca {
    width: 100%;
    float: left;
    position: relative;
    height: 470px;
    margin-bottom: 30px;
}
.bg-mallorca .bx-viewport {
    left: 0px !important;
    border: 0px !important;
    box-shadow: none !important;
    height: 470px !important;
}
.bg-mallorca ul.bxslider {
    margin: 0px !important;
    padding: 0px !important;
    height: 470px !important;
}
.bg-mallorca .bx-wrapper img {
    width: 100% !important;
}
.bg-mallorca .bx-wrapper .bx-pager {
    bottom: 15px !important;
}
.bg-mallorca .bx-wrapper .bx-pager.bx-default-pager a:hover, .bg-mallorca .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #FFF !important;
}
.bg-mallorca .bx-wrapper .bx-pager.bx-default-pager a {
    background: rgba(255,255,255,0.5) !important;
}
.box-mallorca {
    margin-bottom: 30px;
}
.box-mallorca h3 {
    font-family: 'NettoOT-Bold';
    color: #e9640d;
    font-size: 26pt;
    text-transform: uppercase;
    background-color: transparent;
    margin-bottom: 30px;
}
.box-mallorca p {
    color: #999999;
    font-size: 11pt;
    margin-bottom: 20px;
    line-height: 22px;
    text-align: justify;
    padding-right: 50px;
}
.box-mallorca p b {
    color: #e9640d;
    font-weight: bold;
}
.box-mallorca h6 {
    color: #e9640d;
    font-weight: bold;
    font-size: 11pt;
    margin-bottom: 20px;
}
.box-mallorca figure {
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 30px;
}
.margin-top {
    margin-top: 70px;
}

@media (max-width: 868px) {
    header {
        width: 100%;
        background-color: #f5f5f5;
            z-index: 99999;
    }
    .box, .overlay {
        display: none !important;
    }
    .header {
        width: 100%;
        left: 0;
    }
    .header-rrss, .header-weather, .header-search {
        display: none;
    }
    .navbar {
        width: 100%;
        position: absolute;
        top: 0px;
    }
    .header-logo {
        margin-left: 53px;
    }
    .header-login {
        box-sizing: border-box;
        padding-left: 8px;
    }
    .header-leng {
        padding-left: 6px;
    }
    .navbar-nav {
        margin: 0px;
        background-color: #fff;
    }
    .navbar-toggle {
        margin-right: 52px;
    }
    .content-slider {
        display: none;
    }
    .content-welcome > section {
        padding: 0px; 
        margin-top: 0px; 
    }
    .content-top-route .title-top-route {
        height: auto;
    }
    .title-top-route > article {
        padding: 0px;
    }
    .title-top-route > article a {
        float: left;
        margin-bottom: 23px;
    }
    .content-top-route, .content-tabs {
        display: none;
    }
    .content-newsletter input.btn.btn-large {
        float: left;
    }
    .content-quote {
        height: auto;
    }
    .content-quote article h6 {
        float: left;
    }
    .content-establishment {
        display: none;
    }
    .footer-copy {
        margin:0; 
        text-align: center;
    }
    .contet-profile-description {
    width: 100%;
    float: left;
    position: relative;
    height: 730px;
    }
    .bg-profile {
    width: 100%;
    height: 50%;
    float: left;
    position: relative;
    background: url(../img/imagen-fondos.png);
    background-repeat: no-repeat;
    background-position: 0% 40%;
    background-size: cover;
    }
    .data-profile {
    position: absolute;
    width: 100%;
    top: 10px;
    text-align: center;
    left: 0px;
    }
    .data-profile article:first-child {
    width: 100%;
    }
    .data-profile img {
    width: 30%;
    margin: 0px 35%;
    }
    .data-profile article:nth-child(2) {
    width: 50%;
    }
    .data-profile h3 {
    font-size: 53pt;
    color: #f36d21;
    font-family: 'NettoOT-Bold';
    margin-top: 25px;
    float: left;
    position: relative;
        width: 100%;
    }
    .data-profile p {
    color: #fff;
    font-size: 30pt;
    font-family: 'NettoOT-Bold';
    width: auto;
    float: left;
    position: relative;
    text-align: left;
    line-height: 40px;
    margin-top: 0px;
    text-align: center;
    }
    .data-profile article:last-child {
    width: 50%;
    }
    .data-profile .selector-perfil img {
    width: auto;
    float: left;
    position: relative;
    margin-top: 42px;
    margin-left: 0px;
    margin-right: 10px;
    }
    .selector-perfil .nav {
    border: none;
    float: left;
    position: relative;
    width: 80%;
    margin-top: 30px;
    }
    .data-profile-descr {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0px;
    }
    .data-profile-descr h3 {
    background: #ec6409;
    color: #FFF;
    padding: 3px 5px;
    font-family: 'NettoOT-Bold';
    margin-top: 20px;
    display: inline-block;
    font-size: 16pt;
    margin-left: 20px;
    }
    .data-profile-descr p {
    font-weight: normal;
    color: #494949;
    font-size: 12pt;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    }
    .data-profile-descr a {
    display: inline-block;
    font-weight: normal;
    color: #494949;
    font-size: 12pt;
    margin-bottom: 5px;
    margin-top: 5px;
    }
    .data-profile-descr a i {
    margin-right: 5px;
    color: #494949;
    font-size: 20pt;
    margin-bottom: 10px;
    margin-left: 20px;
    }
}